/**
* @name Discord-SourceSansProFont
* @author Catterio#4813
* @description Sets the default font (gg sans) to Source Sans Pro.
* @version 1.0.0
* @source https://github.com/Catterio/Discord-DefaultSourceSansProFont
*/

:root {
    --font-primary: "Source Sans Pro", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    --font-display: "Source Sans Pro", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-100.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-100Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-200.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 200;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-200Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-300.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-300Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-400.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-400Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-500.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-500Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-600.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-600Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-700.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-700Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-800.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 800;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-800Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-900.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: url("https://cdn.jsdelivr.net/gh/Catterio/Discord-DefaultSourceSansProFont/fonts/SourceSansPro-900Italic.woff2") format("woff2");
}
